/* fonts added  */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap");
/* css reset  */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* utilities css  */
:root {
  --dark-pink: #e02c6d;
  --name-color: #18191f;
  --paragraph-color: #6c6c6c;
}
html{
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", sans-serif;
  overflow-x: hidden;
}
.flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
a {
  text-decoration: none;
  color: #fff;
}
ul {
  list-style: none;
}
.container {
  width: 1160px;
  margin: auto;
}
.button {
  background: var(--dark-pink);
  color: #fff;
  padding: 10px 24px;
  transition: transform 0.3s ease;
}
.button:hover {
  transform: scale(0.95);
}
/* header styles and nav style here  */
header {
  width: 100vw;
  height: 80vh;
  background: #2d24a0;
}
.anim-ball {
  width: 50px;
  animation: ball-anim 3s linear infinite alternate;
}
nav {
  height: 44px;
  padding-top: 42px;
}
nav ul {
  display: flex;
  gap: 36px;
}
nav ul li a {
  font-size: 16px;
  font-weight: 500;
}

/* hero section css  */
.hero {
  padding: 50px 0;
}
.hero-text {
  flex-direction: column;
  align-items: flex-start;
  gap: 27px;
}
.hero-text h1 {
  font-family: Poppins;
  font-style: normal;
  font-weight: bold;
  font-size: 64px;
  color: #fff;
}
.hero-img img {
  width: 556px;
  height: 438px;
}
.hero-img {
  transition: 0.5s ease-in;
}
.hero-img:hover {
  transform: rotateZ(18deg);
}
/* player section css  */
.players {
  display: grid;
  margin-top: 70px;
  grid-template-columns: repeat(3, 1fr);
  grid-row-gap: 27px;
  grid-column-gap: 30px;
}
.player {
  width: 330px;
  height: 474px;
  background: #fff;
  filter: drop-shadow(0px 0px 40px rgba(0, 0, 0, 0.15));
  padding: 15px;
  transition: transform .3s ease;
}
.player img {
  width: 300px;
  height: 256px;
  object-fit: cover;
}
.player-name {
  font-family: Poppins;
  font-style: normal;
  font-weight: bold;
  font-size: 28px;
  color: var(--name-color);
}
.player-bio {
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 26px;
  color: var(--paragraph-color);
}
.player:hover{
  transform: scale(1.1) rotateZ(5deg);
}

/* highlight section css  */
.highlight-section {
  margin-top: 150px;
  gap: 66px;
}
.highlight-text {
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
}
.highlight-section h1 {
  font-family: Poppins;
  font-style: normal;
  font-weight: bold;
  font-size: 48px;
  line-height: 60px;
  color: #0a0826;
}
.highlight-section p {
  font-size: 16px;
  color: var(--paragraph-color);
  max-width: 404px;
}
.highlight-image img {
  width: 567px;
  height: 427px;
}

/* footer section css  */
footer {
  width: 485px;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 60px;
}
.football {
  margin-top: 150px;
  width: 485px;
}
.football img {
  max-width: 100%;
}
.social-links {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 20px;
}
.social-links ul {
  display: flex;
  gap: 14px;
  align-items: center;
}

.social-links ul li a i {
  color: gray;
  font-size: 32px;
}
/* extra video section  */
.videos-section{
  margin-top: 100px;
}
.videos{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 2rem;
  margin: 20px 0;
}
.video{
  height: 450px;
  background: #fff;
  filter: drop-shadow(0px 0px 40px rgba(0, 0, 0, 0.15));
  padding: 15px;
}
/* upcoming matches section  */
#upcoming{
  margin-top: 100px;
}
.matches{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 30px;
  padding: 0px 10px;
}
.match{
  margin: 20px 0;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 3rem;
  background: #2D24A0;
  border-top: 5px solid #E02C6D;
  border-bottom: 5px solid #E02C6D;
  color: #E02C6D;
}
.team{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  gap: 10px;
}
.team img{
  width: 100px;
}
/* animation css  */
@keyframes ball-anim {
  from {
    transform: rotateZ(0deg);
  }
  to {
    transform: rotateZ(360deg);
  }
}

/* Mobile media queries here  */
@media screen and (max-width: 660px) {
  .container {
    width: 100%;
  }
  header {
    height: 100vh;
    padding: 16px;
  }
  .none {
    display: none;
  }
  .hero {
    flex-direction: column;
    align-items: flex-start;
  }
  .hero-text h1 {
    font-size: 36px;
  }
  .hero-img img {
    margin-top: 60px;
    width: 330px;
    height: 260px;
  }
  .anim-ball {
    width: 30px;
  }
  /* players section responsive  */
  .players {
    grid-template-columns: repeat(1, 1fr);
    place-items: center;
  }
  /* .highlight-section  */
  .highlight-section {
    flex-direction: column;
    padding: 16px;
  }
  .highlight-text h1 {
    font-size: 30px;
    line-height: 40px;
  }
  .highlight-image img {
    width: 328px;
    height: 248px;
  }
  .highlight-section p {
    max-width: 100%;
  }
  /* footer section styles  */
  footer {
    width: 100%;
  }
  .football {
    margin: 45px 0;
    width: 280px;
  }
}
/* upcoming section  */
.team img{
  width: 60px;
}

/* Tab media Queries  */
@media screen and (min-width: 661px) and (max-width: 1300px) {
  header {
    height: 100vh;
  }
  .container {
    width: 100vw;
  }
  .none {
    display: none;
  }
  .hero {
    flex-wrap: wrap;
    align-items: center;
    gap: 2rem;
  }
  .hero-text {
    flex: 1 1 20rem;
  }
  .hero-img {
    flex: 1 1 20rem;
  }
  /* players  */
  .players {
    grid-template-columns: repeat(2, 1fr);
    place-items: center;
  }
  /* highlight section  */
  .highlight-section {
    flex-direction: column;
    padding: 16px;
  }
}
