/* fonts added  */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap");
/* css reset  */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* utilities css  */
:root {
  --dark-pink: #e02c6d;
  --name-color: #18191f;
  --paragraph-color: #6c6c6c;
}

body {
  font-family: "Poppins", sans-serif;
  overflow-x: hidden;
}
.flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
a {
  text-decoration: none;
  color: #fff;
}
ul {
  list-style: none;
}
.container {
  width: 1160px;
  margin: auto;
}
.button {
  background: var(--dark-pink);
  color: #fff;
  padding: 10px 24px;
}
/* header styles and nav style here  */
header {
  width: 100vw;
  height: 80vh;
  background: #2d24a0;
}
nav {
  height: 44px;
  padding-top: 42px;
}
nav ul {
  display: flex;
  gap: 36px;
}
nav ul li a {
  font-size: 16px;
  font-weight: 500;
}

/* hero section css  */
.hero {
  padding: 50px 0;
}
.hero-text {
  flex-direction: column;
  align-items: flex-start;
  gap: 27px;
}
.hero-text h1 {
  font-family: Poppins;
  font-style: normal;
  font-weight: bold;
  font-size: 64px;
  color: #fff;
}
.hero-img img {
  width: 556px;
  height: 438px;
}
/* player section css  */
.players {
  display: grid;
  margin-top: 70px;
  grid-template-columns: repeat(3, 1fr);
  grid-row-gap: 27px;
  grid-column-gap: 30px;
}
.player {
  width: 330px;
  height: 474px;
  background: #fff;
  filter: drop-shadow(0px 0px 40px rgba(0, 0, 0, 0.15));
  padding: 15px;
}
.player img {
  width: 300px;
  height: 256px;
}
.player-name {
  font-family: Poppins;
  font-style: normal;
  font-weight: bold;
  font-size: 28px;
  color: var(--name-color);
}
.player-bio {
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 26px;
  color: var(--paragraph-color);
}

/* highlight section css  */
.highlight-section {
  margin-top: 150px;
  gap: 66px;
}
.highlight-text {
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
}
.highlight-section h1 {
  font-family: Poppins;
  font-style: normal;
  font-weight: bold;
  font-size: 48px;
  line-height: 60px;
  color: #0a0826;
}
.highlight-section p {
  font-size: 16px;
  color: var(--paragraph-color);
  max-width: 404px;
}
.highlight-image img {
  width: 567px;
  height: 427px;
}

/* footer section css  */
footer {
  width: 485px;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 60px;
}
.football {
  margin-top: 150px;
  width: 485px;
}
.football img {
  max-width: 100%;
}
.social-links {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 20px;
}
.social-links ul {
  display: flex;
  gap: 14px;
  align-items: center;
}

.social-links ul li a i {
  color: gray;
  font-size: 32px;
}
